@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

body{
	background: #fff;
	display: flex;
}

.menu{
	width: 12%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: inset -5px 0 5px -3px rgba(0,0,0);
	background-color: #ccc;
	padding: 5px 0;
	position: fixed;
}

.logo{
	display: flex;
	justify-items: center;
	align-items: center;
}

.logo img{
	width: 70px;
}

.logo h2{
	margin-left: 10px;
	font-size: 30px;
}

.links, .additional{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.links .item, .additional .item{
	padding: 8px;
	margin: 5px 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 50px;
}

.links .item:hover, .active, .additional .item:hover{
	background: #aaa;
}

.links .item i, .additional .item i{
	margin-right: 10px;
	font-size: 24px;
}

.links .item a, .additional .item a{
	display: flex;
	align-items: center;
}

.content{
	margin-left: 12%;
	width: 100%;
	padding: 20px;
	overflow: auto;
}

.content .separator{
	margin: 20px 0;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
}

.content .separator i{
	margin-right: 10px;
	font-size: 24px;
}

.content p{
	font-size: 20px;
	font-weight: 500;
}

.content .items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.content .items .item{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
	align-items: center;
	background-color: #ccc;
	border-radius: 50px;
	padding: 20px;
	width: 30%;
}

.content .item img{
	width: 400px;
	height: 200px;
	margin-right: 20px;
	border-radius: 50px;
	object-fit: cover;
	align-items: center;
}

.content .item h3{
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 10px;
}

.content .teams{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content .teams .team{
	display: flex;
	margin: 20px 7px;
	align-items: center;
	width: 32%;
	background-color: #ccc;
	border-radius: 50px;
	padding: 10px;
}

.content .team .club, .content .matches .team, .content .transfer .team{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
}

.content .team .club img, .content .matches .team img, .content .transfer .team img{
	width: 80px;
	height: 80px;
	object-fit:contain;
}

.content .team p{
	margin-left: 30px;
	font-size: 20px;
	font-weight: 800;
}

.content .matches{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.content .matches .match{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 7px;
	width: 15%;
	background-color: #ccc;
	border-radius: 50px;
	padding: 20px 30px;
}

.content .matches .match .score p{
	font-size: 40px;
	font-weight: 800;
	text-align: center;
}

.transfers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.transfers .transfer {
	display: flex;
	flex-direction: column;
	margin: 20px 7px;
	align-items: center;
	background-color: #ccc;
	border-radius: 50px;
	padding: 20px;
	width: 30%;
}

.transfers .transfer .player {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.transfers .transfer .player img {
	width: 150px;
}

.transfers .transfer .player h3 {
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 10px;
}

.transfers .transfer .teams {
	display: flex;
	align-items: center;
}

.transfers .transfer .teams i {
	margin: 0 2px;
	font-size: 64px;
	font-weight: 800;
}

.transfers .transfer .price {
	font-size: 22px;
	font-weight: 800;
}

.content p a{
	color: #aaa;
}

.content .news {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.content .news .article {
	display: flex;
	align-items: center;
	width: 32%;
	margin: 0 4px;
	padding: 10px;
	background-color: #ccc;
	border-radius: 25px;
}

.content .news .article .left {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.content .news .article .left h3 {
	text-align: right;
	font-size: 24px;
	font-weight: 800;
}

.content .news .article .left h4 {
	text-align: right;
	font-size: 18px;
	font-weight: 500;
}

.content .news .article .left p {
	text-align: right;
	font-size: 16px;
	font-weight: 400;
}

.content .news .article .right {
	display: flex;
	flex-direction: column;
}

.content .news .article .right img {
	width: 200px;
	height: 160px;
	object-fit: cover;
	border-radius: 25px;
}

.content .news .article .right p {
	text-align: left;
	font-size: 16px;
	font-weight: 400;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px;
	background-color: #ccc;
	border-radius: 50px;
}

.header .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: #aaa;
	border-radius: 50px;
}

.header .info h1 {
	font-size: 48px;
	margin: 40px 0;
}

.header .info p {
	font-size: 16px;
}

.header .img img {
	width: 700px;
	height: 500px;
	object-fit: cover;
	border-radius: 50px;
}

.content .matches-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 18% 10%;
}

.content .matches-link .link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 7px;
	width: 35%;
	background-color: #ccc;
	border: 5px solid #aaa;
	border-radius: 50px;
	padding: 40px 60px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.content .matches-link .link:hover {
	background-color: #aaa;
}

.content .matches-link .link a{
	font-size: 24px;
	font-weight: 800;
	text-align: center;
}

@media screen and (max-width: 1710px) {
	
	.menu .logo h2{
		font-size: 24px;
	}

	.items .item img{
		width: 300px;
	}

	.content .matches .match .score p {
		font-size: 20px;
	}

	.content .team .club h3, .content .matches .team h3, .content .transfer .team h3{
		font-size: 16px;
	}

}

@media screen and (max-width: 1610px) {

	.content .news .article .left h3{
		font-size: 20px;
	}

	.content .news .article .left h4{
		font-size: 16px;
	}

	.content .news .article .left p, .content .news .article .right p{
		font-size: 12px;
	}

}

@media screen and (max-width: 1475px) {
	
	.menu .logo h2{
		display: none;
	}

	.menu .additional .item:first-child a p{
		font-size: 16px;
	}

}

@media screen and (max-width: 1410px) {

	.content .items .item {
		width: 48%;
		margin: 5px 4px;
	}

	.content .teams .team{
		width: 48%;
		margin: 5px 4px;
	}

	.content .matches .match {
		width: 32%;
		margin: 5px 4px;
	}

	.transfers .transfer {
		width: 47%;
	}

	.transfers .transfer .teams i  {
		margin: 0;
		font-size: 40px;
	}

	.content .transfer .team {
		background-color: transparent;
		width: 100px;
	}

}

@media screen and (max-width: 1385px) {

	.content .news .article{
		width: 48%;
		margin: 4px 4px;
	}

	.content .matches-link {
		margin: 18% 5%;
	}

}

@media screen and (max-width: 1250px) {

	.menu .links .item a p, .menu .additional .item a p{
		font-size: 14px;
	}

	.menu .additional .item:first-child a p{
		display: none;
	}

	.menu .additional .item:first-child a i{
		margin-left: 35%;
	}

	.content .matches-link .link a{
		font-size: 20px;
	}

}

@media screen and (max-width: 1025px) {

	.menu .links .item a p, .menu .additional .item a p{
		display: none;
	}

	.menu .additional .item:first-child a i{
		margin-left: 10%;
	}

	.menu .additional .item a i{
		margin-left: 10%;
	}

	.menu .links .item a i{
		margin-left: 10%;
	}

	.content .teams .team {
		width: 98%;
	}

	.content .transfers .transfer {
		width: 97%;
	}

	.content .transfer .team {
		background-color: transparent;
		width: 100px;
	}

}

@media screen and (max-width: 955px) {

	.content .news .article{
		width: 98%;
		margin: 4px 4px;
	}

}

@media screen and (max-width: 840px) {

	.content .items .item {
		width: 98%;
	}

	.items .item img{
		width: 400px;
	}

}

@media screen and (max-width: 775px) {

	.content .matches .match {
		width: 48%;
	}

	.content .matches-link .link {
		width: 88%;
	}

}

@media screen and (max-width: 545px) {
	
	.items .item img{
		width: 300px;
	}

	.items .item p{
		font-size: 16px;
	}

	.content .teams .team p {
		font-size: 16px;
	}

	.content .matches .match {
		width: 98%;
	}

	.content .news .article .left h3{
		font-size: 18px;
	}

	.content .news .article .left h4{
		font-size: 15px;
	}

}
